openapi: '3.0.3'
info:
  title: Andamio Transactions API
  version: '2.0'
servers:
  - url: http://localhost:8000/v2
paths:
  # /mint-access-token:
  #   get:
  #     tags:
  #       - user
  #     description: 'Mint an access token for the user to join Andamio.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /migrate-to-access-token-v2:
  #   get:
  #     tags:
  #       - migration
  #     description: 'Migrate to access token V2.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  /admin/course/create:
    get:
      tags:
        - course
      description: 'Create a course.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of course owner'
          required: true
          schema:
            type: string
        - name: teachers
          in: query
          description: 'List of teacher Access Token Aliases'
          required: true
          schema:
            type: array
            items:
              type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /student/course/enroll:
    get:
      tags:
        - course
      description: 'Join a course.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Student'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: assignmentId
          in: query
          description: 'Assignment ID for first assignment submission'
          required: false
          schema:
            type: string
        - name: content
          in: query
          description: 'Assignment Content Hash for first assignment submission'
          required: false
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /teacher/course/modules/create:
    post:
      tags:
        - course
      description: 'Create modules.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Teacher'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                modules:
                  type: array
                  description: 'Modules to be created'
                  items:
                    type: object
                    properties:
                      slts:
                        type: array
                        description: 'List of Student Learning Targets'
                        items:
                          type: string
                          description: slt
                      prerequisites:
                        type: array
                        description: 'List of prerequisite assignment hashes'
                        items:
                          type: string
            example:
              modules:
                - slts:
                    - 'I can test 1'
                    - 'I can test 2'
                  prerequisites:
                    - 'c8bc55db03d6ead9311272b7c73637e6999f8306574321f009d7053eaa98cf7b'
                - slts:
                    - 'I can implement'
                  prerequisites: []
      responses:
        '200':
          description: OK
  /teacher/course/modules/manage:
    post:
      tags:
        - course
      description: 'Create modules.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Teacher'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                create:
                  type: array
                  description: 'Modules to be created'
                  items:
                    type: object
                    properties:
                      slts:
                        type: array
                        description: 'List of Student Learning Targets'
                        items:
                          type: string
                          description: slt
                      prerequisites:
                        type: array
                        description: 'List of prerequisite assignment hashes'
                        items:
                          type: string
                update:
                  type: array
                  description: 'Modules to be updated'
                  items:
                    type: object
                    properties:
                      sltHash:
                        type: string
                        description: 'Hash of the Student Learning Target to update'
                      prerequisites:
                        type: array
                        description: 'List of prerequisite assignment hashes'
                        items:
                          type: string
                delete:
                  type: array
                  description: 'Modules to be deleted'
                  items:
                    type: string
                    description: 'Hash of the Student Learning Target to delete'
            example:
              create:
                - slts:
                    - 'I can test 1'
                    - 'I can test 2'
                  prerequisites:
                    - 'c8bc55db03d6ead9311272b7c73637e6999f8306574321f009d7053eaa98cf7b'
                - slts:
                    - 'I can implement'
                  prerequisites: []
              update:
                - sltHash: 'c8bc55db03d6ead9311272b7c73637e6999f8306574321f009d7053eaa98cf7b'
                  prerequisites:
                    - 'c8bc55db03d6ead9311272b7c73637e6999f8306574321f009d7053eaa98cf7b'
              delete:
                - 'c8bc55db03d6ead9311272b7c73637e6999f8306574321f009d7053eaa98cf7b'
      responses:
        '200':
          description: OK
  /student/course/assignment/submit:
    get:
      tags:
        - course
      description: 'Submit assignment.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Student'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: assignmentId
          in: query
          description: 'Assignment ID'
          required: true
          schema:
            type: string
        - name: content
          in: query
          description: 'Assignment Content Hash'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /teacher/course/assignment/assess:
    get:
      tags:
        - course
      description: 'Assess an assignment.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Teacher'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: studentAlias
          in: query
          description: 'Student Alias'
          required: true
          schema:
            type: string
        - name: assessment
          in: query
          description: 'Assessment Result'
          required: true
          schema:
            type: string
            enum:
              - accept
              - refuse
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /teacher/course/assignments/assess:
    post:
      tags:
        - course
      description: 'Assess multiple assignments.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Teacher'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  studentAlias:
                    type: string
                    description: 'Student Alias'
                  assessment:
                    type: string
                    description: 'Assessment Result'
                    enum:
                      - accept
                      - refuse
            example:
              - studentAlias: 'student-1'
                assessment: 'accept'
              - studentAlias: 'student-2'
                assessment: 'refuse'
      responses:
        '200':
          description: OK
  /student/course/assignment/update:
    get:
      tags:
        - course
      description: 'Update an assignment.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Student'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: assignmentId
          in: query
          description: 'New Assignment ID (Withdraw current assignment)'
          required: false
          schema:
            type: string
        - name: content
          in: query
          description: 'Assignment Content Hash'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /student/course/credential/claim:
    get:
      tags:
        - course
      description: 'Complete a course.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of Student'
          required: true
          schema:
            type: string
        - name: courseId
          in: query
          description: 'Course ID'
          required: true
          schema:
            type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  /admin/course/teachers/update:
    get:
      tags:
        - course
      description: 'Update course teachers.'
      parameters:
        - name: alias
          in: query
          description: 'Access Token Alias of course admin'
          required: true
          schema:
            type: string
        - name: add
          in: query
          description: 'List of manager Access Token Aliases'
          required: true
          schema:
            type: array
            items:
              type: string
        - name: remove
          in: query
          description: 'List of manager Access Token Aliases'
          required: true
          schema:
            type: array
            items:
              type: string
        - name: addresses
          in: query
          description: 'Used addresses for multi address cardano wallets'
          required: false
          schema:
            type: array
            items:
              type: string
        - name: changeAddress
          in: query
          description: 'Change address for multi address cardano wallets'
          required: false
          schema:
            type: string
      responses:
        '200':
          description: OK
  # /admin/project/create:
  #   get:
  #     tags:
  #       - project
  #     description: 'Initialize a project (1 & 2).'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/join-project:
  #   get:
  #     tags:
  #       - project
  #     description: 'Join a project.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /owner/create-tasks:
  #   get:
  #     tags:
  #       - project
  #     description: 'Create tasks.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /owner/update-project-managers:
  #   get:
  #     tags:
  #       - project
  #     description: 'Update project managers.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/commit-to-task:
  #   get:
  #     tags:
  #       - project
  #     description: 'Commit to a task.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /manager/assess-evidence:
  #   get:
  #     tags:
  #       - project
  #     description: 'Assess evidence.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/update-contribution-evidence:
  #   get:
  #     tags:
  #       - project
  #     description: 'Update contribution evidence.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/uncommit-task:
  #   get:
  #     tags:
  #       - project
  #     description: 'Uncommit a task.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/collect-rewards:
  #   get:
  #     tags:
  #       - project
  #     description: 'Collect rewards.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
  # /contributor/leave-project:
  #   get:
  #     tags:
  #       - project
  #     description: 'Leave a project.'
  #     parameters: []
  #     responses:
  #       '200':
  #         description: OK
